<article id="aboutme">
        
    <!-- Posts -->
    <section>
      <article>
        <h2>Robert Moore</h2>
        <span class="email"><h2>moore.robert.ryan@gmail.com</h2></span>

        <h3>Who I am</h3>
        <p>
          I am a young programmer with a passion for learning and a
          determination to write good meaningful code that will make a
          difference in the workplace. I am open minded to learning and
          trying new techniques and technologies. Basically, I just want to
          build cool stuff. I have worked at 3 different companies on
          enterprise projects and done a little bit of freelance work
          developing desktop software. My experience is mostly in Java and
          C# though I have done some web automation and I consider myself
          language agnostic as I am willing to work with any language and am
          always grateful for the chance to pick up a new one.
        </p>

        <h3>Interests Outside Of Work</h3>
        <p>
          My interests cover quite a broad range, from a general interest in
          technology to dramatic arts. I have a strong interest in
          computers, building them and how they work. I also game very
          casually. I volunteer as sound engineer at my church. I am a
          Children's Ministry leader as well and that often overlaps with my
          sound engineering. I've dabbled in some video editing but that was
          a while ago. I am extremely interested in cars. During my high
          school years I did extracurricular drama lessons and loved every
          moment. I haven't been on a stage for a while but those skills are
          transferable hence I am not scared of things like giving
          presentations. What's the difference between 4 people and 40
          people anyway?
        </p>
      </article>
    </section>
    <h2>My Projects</h2>
    <section class="posts">
      <article>
        <header>
          <h2 class="featuredProjectHeading">Something Went Wrong</h2>
        </header>
        <img src="" alt="" class="image fit" />
        <p class="featuredProjectDescription">
          Looks like we couldn't get the project information
        </p>
        <ul class="actions special"></ul>
      </article>
      <article>
        <header>
          <h2 class="featuredProjectHeading">Something Went Wrong</h2>
        </header>
        <img src="" alt="" class="image fit" />
        <p class="featuredProjectDescription">
          Looks like we couldn't get the project information
        </p>
        <ul class="actions special"></ul>
      </article>
      <article>
        <header>
          <h2 class="featuredProjectHeading">Something Went Wrong</h2>
        </header>
        <img src="" alt="" class="image fit" />
        <p class="featuredProjectDescription">
          Looks like we couldn't get the project information
        </p>
        <ul class="actions special"></ul>
      </article>
    </section>
    </section>
</article>