<form class="child-form">
    <h3>Child Details</h3>
    <label for="childName">Name: </label>
    <input type="text" name="childName" />
    <label for="childSurname">Surname: </label>
    <input type="text" name="childSurname" />
    <label for="childBirthdate">Birthdate: </label>
    <input type="text" name="childBirthdate" />
    <label>Grade:</label>
    <input type="radio" name="grade" id="grade0" value="0" />
    <label for="grade0">0</label>
    <br>
    <input type="radio" name="grade" id="grade1" value="1" />
    <label for="grade1">1</label>
    <br>
    <input type="radio" name="grade" id="grade2" value="2" />
    <label for="grade2">2</label>
    <br>
    <input type="radio" name="grade" id="grade3" value="3" />
    <label for="grade3">3</label>
    <br>
    <input type="radio" name="grade" id="grade4" value="4" />
    <label for="grade4">4</label>
    <br>
    <input type="radio" name="grade" id="grade5" value="5" />
    <label for="grade5">5</label>
    <br>
    <input type="radio" name="grade" id="grade6" value="6" />
    <label for="grade6">6</label>
    <br>
    <input type="radio" name="grade" id="grade7" value="7" />
    <label for="grade7">7</label>
    <br>
    <label for="gender">gender:</label>
    <input type="radio" id="male" name="gender" value="Male" />
    <label for="male">Male</label>
    <br>
    <input type="radio" id="female" name="gender" value="Female" />
    <label for="female">Female</label>
    <label for="school">School:</label>
    <input type="text" name="school" />
    <label for="medicalNotes">Medical notes (allergies or conditions we should know
      about):</label>
    <input type="text" name="medicalNotes" />
    <label for="additionalComments">Any additional comments:</label>
    <input type="text" name="additionalComments" />
    <h3>Popia form</h3>
    <p>
      I understand that by signing this form I am giving Durbanville Baptist Church permission to contact me
      with information regarding the Children’s Ministry and that photographs and videos of my child may be used
      in HBC and DBC communications and publications, unless denied in writing prior to any printing or
      productions of such communications and publications.
    </p>
    <input type="checkbox" id="popia" name="popia" value="yes" />
    <label for="popia">By checking this box, I agree to the above</label><br />
    <h3>Indemnity form</h3>
    <p>
      By signing (ticking the box) and being the parent/legal guardian of the child being registered, understand
      that my child participates in all activities at Durbanville Baptist Church at his/her own risk. I
      understand that the staff of Durbanville Baptist Church and the volunteers will do everything in their
      power to ensure the safety of my child and his/her property, but can in no way be held responsible for any
      loss or damage (whether direct, indirect or consequential), howsoever arising, to person or property.
      Further I request that the leaders/staff in charge may act "IN LOCO PARENTIS" during this event. I
      understand that in case of illness or accident where medical attention is required, the cost thereof will
      be my liability.
    </p>
    <input type="checkbox" id="indemnity" name="indemnity" value="yes" />
    <label for="indemnity">By checking this box, I agree to the above</label><br />
  </form>